@font-face {
   font-family: 'Montserrat';
   src: local('Montserrat Regular'), local('MontserratRegular');
   src: url('../fonts/MontserratRegular.woff2') format('woff2'),
      url('../fonts/MontserratRegular.woff') format('woff');
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: local('Montserrat Medium'), local('MontserratMedium');
   src: url('../fonts/MontserratMedium.woff2') format('woff2'),
      url('../fonts/MontserratMedium.woff') format('woff');
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: local('Montserrat SemiBold'), local('MontserratSemiBold');
   src: url('../fonts/MontserratSemiBold.woff2') format('woff2'),
      url('../fonts/MontserratSemiBold.woff') format('woff');
   font-weight: 600;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: local('Montserrat Bold'), local('MontserratBold');
   src: url('../fonts/MontserratBold.woff2') format('woff2'),
      url('../fonts/MontserratBold.woff') format('woff');
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: local('Montserrat ExtraBold'), local('MontserratExtraBold');
   src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
      url('../fonts/MontserratExtraBold.woff') format('woff');
   font-weight: 800;
   font-display: swap;
}


:root {
   --font-h3: 1.0rem;
   --font-h4: 1.0rem;
}

/* default */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-width: 100%;
   min-height: 100vh;
   font-family: 'Montserrat', 'Arial', sans-serif;
   font-size: 16px;
   background-image: url(../img/autumn.svg);
   border-style: contain;
}

ul, ol, li {
   list-style: none;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
}

/* glop */
.block-title {
   margin-bottom: 15px;
   padding: 10px;
   padding-left: 20px;
   text-transform: uppercase;
   font-size: var(--font-h3);
   color: #7e7e7e;
   background-color: bisque;
}

.porfolio-sub-title {
   margin-bottom: 3px;
   font-size: var(--font-h4);
}

.porfolio-time {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 0.9rem;
   color: #585858;
}

.text-link {
   margin-bottom: 5px;
   font-weight: 600;
   font-size: 0.9rem;
}

/* work */
.container {
   display: flex;
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   margin-top: 15px;
   box-shadow: -1px 3px 9px #00000045;
}

.container-left {
   padding: 50px;
   background-color: #001e38a6;
}

.container-right {
   padding: 50px;
   background-color: #f9f9f9;
}

.container-right__item:not(:last-child) {
   margin-bottom: 30px;
}

.container-left__img {
   width: 200px;
   height: 200px;
   margin-bottom: 30px;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
}

.container-left__title {
   margin-bottom: 10px;
   font-size: 2.5rem;
   font-weight: 400;
   color: bisque;
}

.container-left__subtitle {
   position: relative;
   margin-bottom: 90px;
   font-size: 1.2rem;
   font-weight: 400;
   text-transform: uppercase;
   color: white;
}

.container-left__subtitle:before {
   content: '';
   position: absolute;
   top: 90px;
   height: 3px;
   width: 185px;
   background-color: bisque;
}

.container-left__contacts {
   margin-bottom: 10px;
   font-size: 1.4rem;
   font-weight: 500;
   text-transform: uppercase;
   color: bisque;
}

.container-left__mail {
   font-size: 1.1rem;
   color: white;
}

.container-right__porfolio {
   margin-bottom: 30px;
}

.porfolio__item:not(:last-child) {
   margin-bottom: 15px;
}

.portfolio__descr {
   margin-bottom: 5px;
   font-weight: 600;
}

.education__descr {
   margin-bottom: 5px;
}

.education__item {
   margin-bottom: 10px;
}

.education__item:not(:last-child) {
   margin-bottom: 15px;
}

.education__list-title {
   margin-bottom: 10px;
   font-weight: 400;
   color: #939393;
    font-size: 14px;
}